@media only screen and (min-width: 650px) {
  body {
    margin: 50px;
    background-color: lightgray;
  }
  body .calculator {
    height: 80%;
    width: 70%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.calculator {
  height: 100vh;
  width: 100vw;
  background-color: #0c0c14;
  font-family: "Mochiy Pop P One", sans-serif;
}
.calculator__output {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 35%;
  width: 100%;
  font-family: "Mochiy Pop P One", sans-serif;
  color: whitesmoke;
}
.calculator__output__input {
  height: 100%;
  grid-column: 1/1;
  grid-row: 1/2;
  background-color: #161327;
}
.calculator__output__result {
  background-color: #161327;
  height: 100%;
  grid-column: 1/1;
  grid-row: 2/3;
}
.calculator__buttons {
  height: 65%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator__buttons > button {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: #1e2233;
  color: whitesmoke;
  padding: none;
  align-self: center;
  justify-self: center;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 150%;
  vertical-align: middle;
}